---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-2xl mb-4">Page avec IFRAME</h1>

  <select id="species-iframe" class="mb-4 border rounded px-2 py-1">
    <option value="Adelie/">Adelie</option>
    <option value="Gentoo/">Gentoo</option>
    <option value="Chinstrap/">Chinstrap</option>
  </select>

  <iframe
    id="speciesFrame"
    src="/species-iframe/Adelie"
    class="w-full h-[600px] border rounded-md"
    onload="resizeIframe(this)"
  ></iframe>

  <script>
    function resizeIframe(iframe) {
      const doc = iframe.contentWindow.document;
      if (doc) {
        const height = Math.max(
          doc.body.scrollHeight,
          doc.documentElement.scrollHeight
        );
        iframe.style.height = height + "px";
      }
    }

    document.querySelector("#species-iframe")?.addEventListener("change", (evt) => {
      const value = /** @type {HTMLSelectElement} */ (evt.target).value;
      const iframe = document.querySelector("#speciesFrame");
      if (iframe) iframe.src = "/species-iframe/" + value;
    });
  </script>
</Layout>
