---
import Layout from "../../layouts/Layout.astro";
import GraphicSpecies from "../../components/GraphicSpecies.astro";
import SelectNav from "../../components/SelectNav.astro";
---
<Layout>
<SelectNav />

  <h1 class="text-2xl mb-3">Adelie</h1>
  <GraphicSpecies species="Adelie" />
</Layout>